@import "@/sass/abstracts/variables";

.tour {

  .header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 80%),
        rgba($color-primary-dark, 80%)
    ),
    url("@/assets/tour/img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
    }

    &__logo {
      height: 3.5rem;
    }

    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  .heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 4.5rem;

      animation-name: moveInLeft;
      animation-duration: 1s;
      // ease-out: 由快到慢, 更通用
      // ease-in: 由慢到快
      animation-timing-function: ease-out;

      /*
      animation-delay: 3s;
      animation-iteration-count: 3;
      */
    }

    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 3.1rem;
      text-align: left;

      animation: moveInRight 1s ease-out;
    }
  }

  .section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
  }

  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(
        to right,
        $color-primary-light,
        $color-primary-dark
    );
  }
}
