.counter {
  text-align: center;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 2vmin);
  }
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-float infinite 3s ease-in-out;
  }
}

@keyframes logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1rem)
  }

  100% {
    transform: translateY(0)
  }
}
