.btn {
  cursor: pointer;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;

  &:hover {
    background-color: #910391;
  }
}
