.nav {
  margin-bottom: 2rem;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    li {
      border-bottom: 0.1rem solid #ccc;
      padding: 0.4rem;

      a {
        text-decoration: none;

        &:link,
        &:visited,
        &:active {
          color: purple;
        }

        &:hover {
          color: #cc0acc;
        }

        &.active {
          color: orangered;
          font-weight: bolder;
        }
      }
    }
  }
}
