.login {
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.2);
  width: 60rem;
  height: 30rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  input {
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    padding: 1rem;
    width: 80%;

    &.error {
      border: 0.1rem solid red;
      outline: transparent;
    }
  }

  button {
    background-color: purple;
    color: white;
    border: 0.1rem solid purple;
    padding: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 20%;

    &:hover {
      opacity: 0.8;
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: grey;
      border-color: grey;
    }
  }
}
