.login {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    img {
      margin-right: 1rem;
      pointer-events: none;
    }
  }
}
