.btn {
  cursor: pointer;
  background-color: #246e45;
  color: white;
  border: 0;
  border-radius: 0.8rem;
  padding: 1rem 3rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .icon {
    width: 3rem;
    filter: invert(96%) sepia(96%) saturate(0%) hue-rotate(144deg) brightness(106%) contrast(104%);
  }

  .badge {
    background-color: orangered;
    padding: 0.5rem 1.8rem;
    border-radius: 1.5rem;
  }
}
