*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines 1rem = 10px
  font-size: 62.5%;

  box-sizing: border-box;
}

body {
  // default browser font size
  font-size: 1.6rem;
}
