$color-link: darkorange;

.nav {
  text-align: center;
  margin-top: 6.4rem;
  list-style: none;

  li {
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }

    a {

      &:link,
      &:visited {
        text-decoration: none;
        color: $color-link;
      }

      &:hover {
        color: darken($color-link, 15%);
      }

      &:active {
        color: darken($color-link, 15%);
      }
    }
  }
}
