$purple: purple;

.button {
  padding: 1rem;
  cursor: pointer;
  background: $purple;
  color: white;
  border: 0.1rem solid $purple;
  border-radius: 0.6rem;

  &:hover {
    background-color: #8d038d;
  }

  &:disabled {
    cursor: not-allowed;
    border: 0.1rem solid #999;
    background-color: #ccc;
    color: #666;
  }
}
