.button {
  padding: 1rem;
  cursor: pointer;
  border: 0.1rem solid black;
  border-radius: 0.4rem;

  &:hover {
    background-color: #ddd;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #ccc;
    border: 0.1rem solid #666;
    color: #666;
  }
}
