.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  li {
    background-color: forestgreen;
    color: white;
    border-radius: 0.6rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: purple;
      color: white;
      cursor: pointer;
      padding: 0.4rem;
      border: 0.1rem solid purple;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
