.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .items {
    list-style: none;
  }

  .amount {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
  }

  .controls {
    display: flex;
    justify-content: right;
    gap: 1rem;

    .btn {
      padding: 1rem;
      border-radius: 0.8rem;
      cursor: pointer;
      background-color: white;
      color: saddlebrown;
      border: 0.1rem solid saddlebrown;

      &:hover {
        background-color: saddlebrown;
        color: white;
      }

      &--filled {
        background-color: saddlebrown;
        color: white;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
