.header {
  max-width: 80rem;
  margin: 4rem auto;

  nav {

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      li {

      }
    }
  }
}
