.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  span {
    font-size: 3.2rem;
    font-weight: bolder;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
