.posts {
  border: 0.1rem solid #ccc;
  border-radius: 0.8rem;
  width: 100%;
  padding: 1rem;

  ul {
    list-style: none;

    li {
      padding: 1rem;

      &:not(:last-child) {
        border-bottom: 0.1rem solid #ccc;
        margin-bottom: 1rem;
      }
    }
  }
}
