@import "@/sass/abstracts/variables";
@import "@/sass/abstracts/mixins";

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: $box-shadow-5;
  background-color: rgba($color-white, 0.6);
  border-radius: 0.3rem;
  padding: 6rem;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translate(-2rem, -2rem) skewX(12deg);
    position: relative;
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.8s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120%);
    text-transform: uppercase;
    font-size: 1.7rem;
    color: $color-white;
    text-align: center;
    opacity: 0;
    transition: all 0.8s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(0.2rem) brightness(0.8);
  }

  &__text {
    transform: skewX(12deg);
  }
}
